<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>E-Commerce Fraud Detection Based on Machine Learning
            Techniques</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet"> 

        <!-- Icon Font Stylesheet -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="../static/lib/animate/animate.min.css" rel="stylesheet">
        <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">


        <!-- Customized Bootstrap Stylesheet -->
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="../static/css/chart.css" rel="stylesheet">
    </head>

    <body>

        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

        <!-- Navbar & Hero Start -->
        <div class="container-fluid position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
                <a href="" class="navbar-brand p-0">
                    <h1 class="text-primary"></i>E-Commerce Fraud Detection </h1>
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0">
                        <a href="{{url_for('index')}}" class="nav-item nav-link">Home</a>
                        <a href="{{url_for('upload')}}" class="nav-item nav-link">Upload</a>
                        <a href="{{url_for('prediction')}}" class="nav-item nav-link">Prediction</a>
                        <a href="{{url_for('performance')}}" class="nav-item nav-link">Performance</a>
                        <a href="{{url_for('chart')}}" class="nav-item nav-link">Chart</a>
                        <a href="{{url_for('index')}}" class="nav-item nav-link">Logout</a>
                    </div>
                    
            </nav>

            <!-- Header Start -->
            <div class="container-fluid bg-breadcrumb">
                <div class="container text-center py-5" style="max-width: 900px;">
                    <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">E-Commerce Fraud Detection</h4>
                    <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
                       
                        <li class="breadcrumb-item active text-primary">Chart</li>
                    </ol>    
                </div>
            </div>
            <!-- Header End -->
        </div>
        <!-- Navbar & Hero End -->

        <!-- Service Start -->
        <div class="container-fluid service bg-light overflow-hidden py-5">
            <div class="container py-5">
                <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                    <h4 class="text-uppercase text-primary">Chart</h4>
                    <h1 class="display-3 text-capitalize mb-3">Static Visualization Chart</h1>
                </div>
                
                <html>
                    <head>
                       <title></title>
                       <script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js">
                       </script>
                       <script type = "text/javascript">
                          google.charts.load('current', {packages: ['corechart']});     
                       </script>
                    </head>
                    
                    <body>
					<h4 class="text-uppercase text-primary">Accuracy Chart</h4>
                       <div id = "container" style = "width: 550px; height: 400px; margin: 0 auto">
                       </div>
                       <script language = "JavaScript">
                          function drawChart() {
                             // Define the chart to be drawn.
                             var data = google.visualization.arrayToDataTable([
                                ['Model', 'Train Accuracy','Test Accuracy'],
                                ['StackingClassifier', 100,99],
                                ['XGBClassifier',  96,95]
                              
                             ]);
                 
                             var options = {title: 'accuracy_score'}; 
                 
                             // Instantiate and draw the chart.
                             var chart = new google.visualization.BarChart(document.getElementById('container'));
                             chart.draw(data, options);
                          }
                          google.charts.setOnLoadCallback(drawChart);
                       </script>
                    </body>
                 </html>
        
                 <br>
                 <br>
                 
      <h4 class="text-uppercase text-primary">Dataset Visualization</h4>
                  <head>
                    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                    <script type="text/javascript">
                      google.charts.load("current", {packages:["corechart"]});
                      google.charts.setOnLoadCallback(drawChart);
                      function drawChart() {
                        var data = google.visualization.arrayToDataTable([
                          ['class', 'Hours per Day'],
                          ['Not Fraudulent',     80],
                         
                          ['Fraudulent',    20],
                    
                        ]);
                
                        var options = {
                          title: '',
                          is3D: true,
                        };
                
                        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
                        chart.draw(data, options);
                      }
                    
                    </script>
                  </head>
                  <body>
                   
                   
              <center>    <div id="piechart_3d" style="width: 900px; height: 500px; "></div></center>
                   
				    <div><span style="margin-left:150px;color:red"><font size="12">Payment Method Count Chart</font></div>
					  <center><div><img style="margin-left:10px;width:800px;height:500px;" src="../static/payment.png"</div></center>
                      </br> </br>
					  <div><span style="margin-left:150px;color:red"><font size="12">Product Category Chart</font></div>
					  <center> <div><img style="margin-left:10px;width:800px;height:500px;" src="../static/category.png"</div></center>
					  </br> </br>
					  <div><span style="margin-left:150px;color:red"><font size="12">Transaction Hour Count Distribution Chart</font></div>
					  <center> <div><img style="margin-left:10px;width:800px;height:500px;" src="../static/hour.png"</div></center>   
					  </br> </br>
					  <div><span style="margin-left:150px;color:red"><font size="12">Account Age Days Chart</font></div>
					  <center> <div><img style="margin-left:10px;width:800px;height:500px;" src="../static/accage.png"</div></center> 	
                      </br> </br>
					  <div><span style="margin-left:150px;color:red"><font size="12">Device Used Count Chart</font></div>
					  <center> <div><img style="margin-left:10px;width:800px;height:500px;" src="../static/device.png"</div></center>	
		              </br> </br>
					  <div><span style="margin-left:150px;color:red"><font size="12">Customer Age Density Chart</font></div>
					  <center> <div><img style="margin-left:10px;width:800px;height:500px;" src="../static/cage.png"</div></center>		
                      </br> </br>
					  <div><span style="margin-left:150px;color:red"><font size="12">Quantity Density Chart</font></div>
					  <center> <div><img style="margin-left:10px;width:800px;height:500px;" src="../static/quantity.png"</div></center>	
                      </br> </br>
					  <div><span style="margin-left:150px;color:red"><font size="12">Transaction Amount Density Chart</font></div>
					  <center> <div><img style="margin-left:10px;width:800px;height:500px;" src="../static/amount.png"</div></center>	
                      </br> </br>
					 
				   
				   
				   
				   
				   
				   
                  </body>
                      
                      


            </div>
        </div>
        <!-- Service End -->

        

        <!-- Footer Start -->
        <div class="container-fluid footer py-5 wow fadeIn" data-wow-delay="0.2s">
            <div class="container py-5">
              
            </div>
        </div>
        <!-- Footer End -->

        
        <!-- Copyright Start -->
        
        <!-- Copyright End -->


        <!-- Back to Top -->
       
        
    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/lib/wow/wow.min.js"></script>
    <script src="../static/lib/easing/easing.min.js"></script>
    <script src="../static/lib/waypoints/waypoints.min.js"></script>
    <script src="../static/lib/counterup/counterup.min.js"></script>
    <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>
    

    <!-- Template Javascript -->
    <script src="../static/js/main.js"></script>
    </body>

</html>